/*===================== GENERAL =================================*/
* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", sans-serif;
}

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan-1: hsl(186, 14%, 43%);
  --dark-grayish-cyan-2: hsl(184, 14%, 56%);
  --light-grayish-cyan-1: hsl(185, 41%, 84%);
  --light-grayish-cyan-2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

body {
  background: var(--light-grayish-cyan-1);
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  box-shadow: 1px 1px 10px hsla(184, 23%, 73%, 0.582);
}

#logo {
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*===================== LEFT =================================*/
#left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  gap: 6px;
}

#left h2 {
  font-size: 14px;
  color: var(--dark-grayish-cyan-1);
}

input {
  cursor: pointer;
}

input:hover {
  border: 2px solid  var(--strong-cyan);
}

.input {
  color: var(--very-dark-cyan);
  width: 280px;
  height: 30px;
  border: none;
  outline: none;
  font-size: 24px;
  border-radius: 4px;
  font-weight: 700;
  text-align: end;
  padding: 5px 10px;
}

input:focus {
  border: 2px solid  var(--strong-cyan);
  cursor: text;
}

.input-dollar {
  background: url(images/icon-dollar.svg) no-repeat 3% 50% var(--light-grayish-cyan-2);
  background-size: 3.3%;
}

.input-person {
  background: url(images/icon-person.svg) no-repeat 3% 50% var(--light-grayish-cyan-2);
  background-size: 4%;
}

#percent {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px 10px;
}

.span-percent {
  color: var(--light-grayish-cyan-2);
  background-color: var(--very-dark-cyan);
  border-radius: 3px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 19px;
  transition: .3s;
}

.span-percent:hover {
  background-color: #9fe8df;
  color: var(--very-dark-cyan);
  cursor: pointer;
}

.span-custom {
  border-width: 0;
  width: 100%;
  background-color: var(--light-grayish-cyan-2);
  color: var(--dark-grayish-cyan-1);
  border-radius: 3px;
  font-weight: 700;
  text-align: center; 
  font-size: 19px;
  outline: 0;
}

.span-custom:focus {
  color: var(--very-dark-cyan);
  text-align: end;
}

.btn-active {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.div-people {
  display: flex;
  justify-content: space-between;
}

.error-msg {
  color: indianred;
  font-size: 14px;
  font-weight: 700;
  opacity: 0;
}

.show-error-msg {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
/*===================== RIGHT =================================*/
#right {
  background: var(--very-dark-cyan);
  border-radius: 10px;
  padding: 30px;
  color: var(--light-grayish-cyan-2);
}

#right button {
  color: var(--very-dark-cyan);
  font-size: 17px;
  font-weight: 700;
  width: 280px;
  height: 35px;
  border-width: 0;
  border-radius: 5px;
  background-color: hsl(183, 100%, 19%);
  margin-top: 50px;
  transition: .3s;
}

#right button:hover {
  background-color: #9fe8df;
  cursor: pointer;
}

#right p {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.person {
  color: var(--dark-grayish-cyan-2);
  font-size: 11px;
}

.price-right {
  font-size: 3em;
  color: var(--strong-cyan);
}
/*===================== RESPONSIVE =================================*/

@media (max-width: 750px) {
  main {
    display: block;
    top: 63%;
  }

  #percent {
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .input-person {
    margin-bottom: 20px;
  }

  .input {
    width: 320px;
  }

  #right p {
    margin: 0;
  }

  .span-custom, .span-percent {
    padding: 5px 0;
  }
}
